 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 166px;
}

.u-section-1 .u-text-1 {
  margin: 57px auto;
} .u-section-2 {
  min-height: 652px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-video-1 {
  min-height: 218px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-image-1 {
  background-image: url("images/self.jpg");
  min-height: 434px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  min-height: 434px;
  background-image: url("images/Nuphy_Air60.jpg");
}

.u-section-2 .u-container-layout-3 {
  padding: 19px 30px;
}

.u-section-2 .u-image-3 {
  min-height: 289px;
  background-image: url("images/shoutao.JPG");
}

.u-section-2 .u-container-layout-4 {
  padding: 13px 0;
}

.u-section-2 .u-video-2 {
  min-height: 289px;
}

.u-section-2 .u-container-layout-5 {
  padding: 7px 13px;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-2 .u-image-4 {
  min-height: 363px;
  background-image: url("images/a_rainy_day_in_jackson_square.jpeg");
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 566px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    min-height: 579px;
  }

  .u-section-2 .u-video-1 {
    background-position: 50% 50%;
    min-height: 237px;
  }

  .u-section-2 .u-image-1 {
    min-height: 573px;
  }

  .u-section-2 .u-image-2 {
    min-height: 283px;
  }

  .u-section-2 .u-image-3 {
    min-height: 238px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-video-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-4 {
    min-height: 299px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 245px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 1300px;
  }

  .u-section-2 .u-video-1 {
    min-height: 363px;
  }

  .u-section-2 .u-image-3 {
    min-height: 467px;
  }

  .u-section-2 .u-image-4 {
    min-height: 1087px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1666px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 2113px;
  }

  .u-section-2 .u-video-1 {
    min-height: 272px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 377px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 815px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 962px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 1057px;
  }

  .u-section-2 .u-video-1 {
    min-height: 171px;
  }

  .u-section-2 .u-image-3 {
    min-height: 237px;
  }

  .u-section-2 .u-image-4 {
    min-height: 513px;
  }
}