 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 942px;
}

.u-section-1 .u-image-1 {
  width: 574px;
  height: 809px;
  margin: 66px 49px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 707px;
  min-height: 689px;
  margin: -711px auto 60px 57px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  line-height: 1.1;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  line-height: 2;
  font-size: 1.25rem;
  margin: 35px 325px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 39px auto 0 0;
  padding: 14px 73px 15px 71px;
}

.u-section-1 .u-icon-1 {
  color: rgb(194, 98, 175) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-1 .u-image-1 {
    width: 563px;
    height: 844px;
    margin-top: 62px;
    margin-right: 20px;
  }

  .u-section-1 .u-group-1 {
    width: 589px;
    margin-top: -707px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 6.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-1 .u-image-1 {
    width: 462px;
    height: 602px;
    margin-top: 69px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 411px;
    min-height: 639px;
    margin-top: -610px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.875rem;
    width: auto;
    margin-top: 26px;
    margin-right: -7px;
    margin-left: 7px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 34px;
    margin-right: 211px;
    margin-left: 7px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 34px;
    margin-left: 7px;
    padding-right: 55px;
    padding-left: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1007px;
  }

  .u-section-1 .u-image-1 {
    height: 603px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 470px;
    margin-top: -11px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
    margin-right: -6px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 52px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-1 .u-image-1 {
    height: 476px;
    margin-top: 12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 480px;
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
    margin-right: -5px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 23px;
    margin-right: 141px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 43px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1274px;
}

.u-section-2 .u-group-1 {
  min-height: 1156px;
  width: 346px;
  margin: 35px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 27px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 0 3px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 3px 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 3px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 3px 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 3px 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 3px;
  padding: 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 3px 0;
}

.u-section-2 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 3px;
  padding: 0;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 3px 0;
}

.u-section-2 .u-btn-3 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 3px;
  padding: 0;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 3px 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 3px 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 41px 6px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 6px 0 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 41px 3px 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 3px 0;
}

.u-section-2 .u-text-14 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 111px 0 3px;
}

.u-section-2 .u-text-15 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 3px 0;
}

.u-section-2 .u-text-16 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 3px 0;
}

.u-section-2 .u-text-17 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 3px 0;
}

.u-section-2 .u-group-2 {
  min-height: 755px;
  width: 724px;
  margin: -1045px 29px 290px auto;
}

.u-section-2 .u-container-layout-2 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-19 {
  font-family: Poppins;
  line-height: 2;
  font-size: 1.125rem;
  margin: 33px 12px 0 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 120px auto 0;
  padding: 14px 73px 15px 71px;
}

.u-section-2 .u-icon-1 {
  color: rgb(194, 98, 175) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1241px;
  }

  .u-section-2 .u-group-2 {
    min-height: 758px;
    width: 536px;
    margin-top: -1089px;
    margin-right: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2052px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-14 {
    margin-right: 485px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 48px;
    margin-right: auto;
    margin-bottom: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2029px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 305px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 39px;
    margin-bottom: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2107px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 108px;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    min-height: 876px;
    margin-top: 48px;
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-19 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 63px;
    margin-right: -25px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 233px;
}

.u-section-3 .u-text-1 {
  font-family: Raleway, sans-serif;
  text-transform: none;
  font-size: 3.75rem;
  font-weight: 700;
  width: 681px;
  margin: 44px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  width: 623px;
  margin: 34px auto 0;
}

.u-section-3 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 24px;
  margin-bottom: 24px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-3 .u-line-1 {
    height: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    font-weight: normal;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-line-1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-line-1 {
    margin-bottom: 34px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 423px;
}

.u-section-4 .u-text-1 {
  font-weight: normal;
  margin: 9px auto 0 30px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 178px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}

.u-section-4 .u-text-3 {
  margin: 9px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 178px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-4 .u-text-5 {
  margin: 9px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}

.u-section-4 .u-text-7 {
  margin: 9px auto 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-4 .u-text-9 {
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 147px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 147px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 124px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-left: 10px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 636px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 439px;
}

.u-section-5 .u-text-1 {
  font-weight: normal;
  margin: 9px auto 0 30px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 191px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}

.u-section-5 .u-text-3 {
  margin: 9px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 191px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-5 {
  margin: 9px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 182px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  font-weight: normal;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-7 {
  margin: 9px 113px 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 182px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-9 {
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 157px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 157px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 193px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-right: 125px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 150px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 243px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 40px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-left: 10px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 373px;
}

.u-section-6 .u-text-1 {
  margin: 9px auto 0 30px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 156px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}

.u-section-6 .u-text-3 {
  margin: 9px auto 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 156px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-6 .u-text-5 {
  margin: 9px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 122px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}

.u-section-6 .u-text-7 {
  margin: 9px auto 0 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 122px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-6 .u-text-9 {
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 129px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 101px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 10px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 752px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 223px;
}

.u-section-7 .u-text-1 {
  margin: 9px auto 0 30px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 161px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}

.u-section-7 .u-text-3 {
  margin: 9px auto 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 161px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 21px;
}

.u-section-7 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-text-5 {
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 133px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 133px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 10px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 433px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 373px;
}

.u-section-8 .u-text-1 {
  margin: 9px auto 0 30px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 96px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}

.u-section-8 .u-text-3 {
  margin: 9px auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 96px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 30px 47px;
}

.u-section-8 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 183px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 183px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.8;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 79px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 79px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 151px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 151px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 10px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 662px;
}

.u-section-9 .u-text-1 {
  margin: 9px auto 0 30px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 600px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}

.u-section-9 .u-text-3 {
  margin: 9px auto 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 600px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-9 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.8;
  font-weight: normal;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-left: 10px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 2463px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 64px auto 0;
}

.u-section-10 .u-group-1 {
  width: 800px;
  min-height: 152px;
  margin: 67px auto 0;
}

.u-section-10 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-10 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 18px 0 0;
}

.u-section-10 .u-list-1 {
  grid-template-rows: auto;
  margin: 87px 0 60px;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 1648px;
}

.u-section-10 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/diff_growth.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
}

.u-section-10 .u-text-4 {
  background-image: none;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0;
}

.u-section-10 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-10 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/proof.png");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-text-6 {
  font-weight: 700;
}

.u-section-10 .u-text-7 {
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  margin-bottom: 0;
}

.u-section-10 .u-text-8 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-10 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/notredame.png");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

.u-section-10 .u-text-9 {
  font-weight: 700;
}

.u-section-10 .u-text-10 {
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  margin-bottom: 0;
}

.u-section-10 .u-text-11 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-10 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/semantic_segmentation1.png");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-text-12 {
  font-weight: 700;
}

.u-section-10 .u-text-13 {
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  margin-bottom: 0;
}

.u-section-10 .u-text-14 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-10 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/epipole.png");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-6 {
  padding: 30px;
}

.u-section-10 .u-text-15 {
  font-weight: 700;
}

.u-section-10 .u-text-16 {
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  margin-bottom: 0;
}

.u-section-10 .u-text-17 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-10 .u-icon-3 {
  width: 24px;
  height: 29px;
}

.u-section-10 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/style_transfer.png");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-7 {
  padding: 30px;
}

.u-section-10 .u-text-18 {
  font-weight: 700;
}

.u-section-10 .u-text-19 {
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  margin-bottom: 0;
}

.u-section-10 .u-text-20 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-10 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/open-unmix.png");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-8 {
  padding: 30px;
}

.u-section-10 .u-text-21 {
  font-weight: 700;
}

.u-section-10 .u-text-22 {
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  margin-bottom: 0;
}

.u-section-10 .u-text-23 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-10 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/hybrid_image.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-9 {
  padding: 30px;
}

.u-section-10 .u-text-24 {
  font-weight: 700;
}

.u-section-10 .u-text-25 {
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  margin-bottom: 0;
}

.u-section-10 .u-text-26 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-10 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/play_img11.png");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-10 {
  padding: 30px;
}

.u-section-10 .u-text-27 {
  font-weight: 700;
}

.u-section-10 .u-text-28 {
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  margin-bottom: 0;
}

.u-section-10 .u-text-29 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1840px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-10 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 1359px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 270px;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
    margin-top: 20px;
    line-height: 1.8;
  }

  .u-section-10 .u-text-6 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 270px;
  }

  .u-section-10 .u-text-7 {
    margin-left: 0;
    margin-top: 20px;
  }

  .u-section-10 .u-text-8 {
    font-weight: normal;
  }

  .u-section-10 .u-text-9 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 270px;
  }

  .u-section-10 .u-text-10 {
    margin-left: 0;
    margin-top: 20px;
  }

  .u-section-10 .u-text-11 {
    font-weight: normal;
  }

  .u-section-10 .u-text-12 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 270px;
  }

  .u-section-10 .u-text-13 {
    margin-left: 0;
    margin-top: 20px;
  }

  .u-section-10 .u-text-14 {
    font-weight: normal;
  }

  .u-section-10 .u-text-15 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 270px;
  }

  .u-section-10 .u-text-16 {
    margin-left: 0;
    margin-top: 20px;
  }

  .u-section-10 .u-text-17 {
    font-weight: normal;
  }

  .u-section-10 .u-text-18 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 270px;
  }

  .u-section-10 .u-text-19 {
    margin-left: 0;
    margin-top: 20px;
  }

  .u-section-10 .u-text-20 {
    font-weight: normal;
  }

  .u-section-10 .u-text-21 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 270px;
  }

  .u-section-10 .u-text-22 {
    margin-left: 0;
    margin-top: 20px;
  }

  .u-section-10 .u-text-23 {
    font-weight: normal;
  }

  .u-section-10 .u-text-24 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 270px;
  }

  .u-section-10 .u-text-25 {
    margin-left: 0;
    margin-top: 20px;
  }

  .u-section-10 .u-text-26 {
    font-weight: normal;
  }

  .u-section-10 .u-text-27 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 270px;
  }

  .u-section-10 .u-text-28 {
    margin-left: 0;
    margin-top: 20px;
  }

  .u-section-10 .u-text-29 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1763px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-10 .u-group-1 {
    width: 720px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 2602px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 4569px;
  }

  .u-section-10 .u-group-1 {
    min-height: 218px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-10 .u-list-1 {
    margin-top: 101px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 4287px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.25rem;
  }
}